*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .2s linear;
}
.box-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccc;
}
.box-container .box{
    width: 700px;
     background: #2c3e50;
     border-radius: 10px;
     overflow: hidden;
     box-shadow: 0 5px 10px #0007;
     display: flex;
     align-items: center;
     margin: 20px;
}
.box-container .box .image{
    text-align: center;
    padding: 60px 0;
    width: 260px;
    background: #0005;
    clip-path: polygon(0 0, 80% 0, 100% 15%, 100% 85%, 76% 100%, 0 100%);
}
.box-container .box .image img{
      height: 150px;
      width: 150px;
      border-radius: 50%;
      box-shadow: 0 0 0 10px coral;
      object-fit: cover;
}
.box-container .box .content{
    display: flex;
    padding: 0 10px;
}
.box-container .box .content .icons{
          background: #fff;
          margin: 0 10px;
}
.box-container .box .content .icons i{
    font-size: 20px;
    margin: 10px 13px;
    color: coral;
    display: block;
}
.box-container .box .content .icons i:first-child{
    margin-bottom: 70px;
}
.box-container .box .content .info .title{
       font-size: 29px;
       color: #fff;
       padding: 5px 0;
       text-transform: capitalize;      
}
.box-container .box .content .info .title span{
           color: coral;    
}
.box-container .box .content .info .post{
    display: block;
    font-size: 18px;
    color: #ccc;
    padding-bottom: 32px;
}
.box-container .box .content .info a{
    display: block;
    color: #aaa;
    padding: 6px 0;
}
.box-container .box .content .info a:hover{
    color: #fff;
}
.box-container .box .share{
    height: 274px;
    background: #fff;
    padding: 0 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-left: auto;
}
.box-container .box .share a{
    margin: 10px;
    font-size: 23px;
    color: #666;
}
.box-container .box .share a::hover{
    color:coral;
}

@media (max-width:650px){
    .box-container .box{
        flex-flow: column;
        width: 370px;
    }
    .box-container .box .image{
            height: 200px;
            width: 100%;
            padding: 40px 0;
            clip-path: polygon(0 0, 100% 0, 100% 70%, 80% 100%, 20% 100%,0 70%);
    }
    .box-container .box .image img{
        height: 120px;
        width: 120px;
    }
    .box-container .box .content{
        padding: 30px 5px;
    }
    .box-container .box .share{
        flex-flow: row;
        height: auto;
        width: 100%;
        padding: 5px 0;
    }
   
}