*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

.header{
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    position: relative;  
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 180px;  
}
.nav-links{
    padding: 28px 0;
}
.nav-links ul li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative;
}

.nav-links ul li a::after{
    content: '';
    background: #ff3d00;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
.nav-links ul li a:hover::after{
    width: 100%;
}
.btn{
    background: #ff3d00;
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}
.text-box{
    color: #fff;
    position: absolute;
    margin-bottom: 0%;
}
.text-box p{
    font-size: 30px;
    font-weight: 600;
}
.text-box h2{
    font-size: 100px;
    line-height: 120px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}



.text-box h3{
    font-size: 20px;
    font-weight: 500;
}

.cart-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 0px;
    padding: 0%;
}
.content{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding-top: 50px;
}
.content h1{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 5%;
}
.content form{
    background: #fff;
    padding: 10;
    border-radius: 8px;
    border-radius: 8px;
    display: flex;
}
.content form input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 18px;
}
.content form button{
    background: #ff3d00;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100vh;
    z-index: -1;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
}

@media(min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
.social-icons{
    position: absolute;
    right: 5%;
    bottom: 10%;
    height: 0%;
}
.social-icons img{
    width: 20px;
    display: block;
    margin: 25px 5px;
}

nav.fa{
    display: none;
}

@media(max-width:700px) {
    .nav-links ul li {
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}